*{
    font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    border: 2px dotted #999;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .main-head {
    grid-column: 1 / 13;
    grid-row: 1;
  }

  .content1 {
    grid-column: 1 / span 12;
    grid-row: 2;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content2 {
    grid-column: 1 / span 12;
    grid-row: 3;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content2-0 {
    grid-column: 8 / span 4;
    grid-row: 3;
    text-align: center;
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content3-0 {
    grid-column: 1 / 13;
    grid-row: 3;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }


  .content3-1 {
    grid-column: 3 / 5;
    grid-row: 4;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content3-2 {
    grid-column: 6 / 8;
    grid-row: 4;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content3-3 {
    grid-column: 9 / 11;
    grid-row: 4;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content4-0 {
    grid-column: 4 / 10;
    grid-row: 2;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content6-0 {
    grid-column: 1 / 13;
    grid-row: 6;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .content7-0 {
    grid-column: 4 / 10;
    grid-row: 7;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .video1 {
    grid-column: 1 / span 5;
    grid-row: 3;
    width: 90%;
  }

  .footer {
    grid-column: 1 / span 12;
    width: 100%;
    height: auto; 
    background-position: center;
    background-size: cover;
    background-image: url(../images/footerImage.jpg);

  }

  .image-overlay {
    width: 100%;
    height: auto;
    background-color: rgba(2, 86, 117, 0.8);
    text-align: center;
    color: white;
  }

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    border: 1px solid #ddd;
    padding: .35em;
  }
  table tr:nth-child(even) {
    background: #f8f8f8;  
  }
  table th,
  table td {
    padding: .5em;
    text-align: left;
  }
  table th {
    background: #444444;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .85em;
  }

  .lightblue {
    grid-column: 3 / 11;
    grid-row: 3;
    background-color: rgba(236, 183, 34, 0.3);
    }

  .lightorange {
    grid-column: 3 / 11;
    grid-row: 4;
    background-color: rgba(236, 183, 34, 0.6);
    }

  .lightgreen {
    grid-column: 3 / 11;
    grid-row: 5;
    background-color: rgba(236, 183, 34, 1.0);
    }

  .lightgrey {background-color: #444444;}

  .white-space {background-color: rgba(3, 163, 223, .5); white-space: normal;
  }

  .time {
    background: #444444;
    color: #fff;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .flexbox {
    display: flex;
    text-align: left;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }

  .flexbox-column {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }

  blockquote {
    grid-column: 1 / 13;
    grid-row: 3 / 5;
    font-size: 30px;
    text-align: center;
    color: #03a3df;
}

.quotename {font-family: arial-bold;
    font-size: 14px;
    text-align: center;
    color: #03a3df}

  nav {
    text-align: center;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  
  }
  
  nav ul li {
    float: left;
    margin-right: 3em;
  }

  nav ul li a {
    padding: 0.7em 1.4em;
    text-decoration: none; /* no underline */
    background-color: rgba(3, 163, 223, .5); 
    color: black; /* light blue */
    border: 2px solid black;
  }

  nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: white;
    font-weight: bold;
  }

  h1 {text-align: center;}

  h2 {text-align: center;}

  h3 {text-align: center;}

  h4 {text-align: left;}



  .italics {font-style: italic;
    margin-left: auto;
    margin-right: auto;
width: 80%;}

.container {

    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: rgb(3, 163, 223);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .button {
    align-items: center;
    background-color: #1b447f; 
    border: 2px;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 

